[submodule "lib/node-sonos-http-api"]
	path = lib/node-sonos-http-api
	url = https://github.com/donholly/node-sonos-http-api.git
[submodule "lib/echo-sonos"]
	path = lib/echo-sonos
	url = https://github.com/donholly/echo-sonos.git
[submodule "lib/node-yamaha-avr"]
	path = lib/node-yamaha-avr
	url = https://github.com/donholly/node-yamaha-avr.git
